{% extends 'Accounts/base.html' %} 
{% load static %} 
{% block title %}{{component.heading}}{% endblock title %} 

{% block style_container %} 
<style>
    body {
        font-family: 'Arial', sans-serif;
        /* line-height: 1.6;
        margin: 20px; */
    }

    body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('{{ component.background_image.url }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Adjust the opacity value (0.0 to 1.0) for the background image */
    z-index: -1;
   
}

     h1, h2, h3 {
        color: #333;
        margin-left: 10px;
    }

    p {
        margin-bottom: 15px;
        margin-left: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

     .transistor-symbol {
        display: block;
        margin: 20px auto; 
        max-width: 96%;
        

        /* Additional styles as needed */
     }  
</style>
{% endblock style_container %}

{% block main-content %}

<h1>{{component.heading}}</h1>

<p>{{component.para1|linebreaksbr}}</p>

<img src="{{ component.image1.url }}" alt="Transistor-Symbol" class="transistor-symbol" style="box-sizing: border-box;border: 1px solid black; ">

<h3>{{component.h2}}</h3>

<p>{{component.para2|linebreaksbr}}</p>

<img src="{{ component.image2.url }}" alt="Transistor-Symbol" class="transistor-symbol" style="box-sizing: border-box;border: 1px solid black; ">

<p>{{component.para3|linebreaksbr}}</p>

<h3>{{component.h3}}</h3>

<p>{{component.para4|linebreaksbr}}</p>

<img src="{{ component.image3.url }}" alt="Transistor-Symbol" class="transistor-symbol" style="box-sizing: border-box;border: 1px solid black; ">

{% endblock main-content%} 