{% extends 'Accounts/base.html' %}
{% load static %}

{% block title %}
  
{% endblock title %}


{% block main-content %}
<div class="Content">
    {{Product.content|safe}}

    {% if request.user.is_authenticated %}
    <a hx-get="{% url 'add_to_cart' Product.pk %}"
    hx-target='.cn' id="glitch_button"
    class="button-49" role="button">Add to Cart</a>

    {% else %}
    <a hx-get="{% url 'add_to_cart' Product.pk %}"
    class="button-49" role="button">Add to Cart</a>

    {% endif %}
    
    
</div>


{% endblock main-content %}
