{% extends 'Accounts/base.html' %} 
{% load static %} 
{% block title %}Cart{% endblock title %} 

{% block style_container %} 

{% endblock style_container %}

{% block main-content %}



<div class="cart" id="first">
    
    <div class="cont">
        
        <div class="grid_12">
            <h1>Your Cart 
                <a id="arrow_down" href="#last" style="float: right;">
                    <i class="fa-solid fa-angle-down fa-bounce fa-flip-horizontal fa-1xl"></i>
                </a>
            </h1>
        </div>
        
        <ul class="items">
            {% for product in products %}
            <li class="grid_4 item">
                <a href="{% url 'Remove_Cart' product.pk %}" class="btn-remove">
                    <i class="far fa-trash-alt"></i>
                </a>
                <div class="preview">
                    <img class="product_image_cart" src="{{product.Pid.P_image.url}}" />
                </div>
                <div class="details">
                    <h3>
                        {{product.Pid}}
                    </h3>
                    <p>Rs. {{product.Pid.Price}} per {{product.Pid.Bundle_set}} </p>

                </div>
                <div class="inner_container">

                    <div class="picker">
                        <p>
                            <a href="" class="btn-quantity plus"
                            hx-get="{% url 'quantity_update' 'add' product.pk  %}"
                            hx-swap="innerHTML"
                            hx-target='.cn'>
                                <i class="fa-solid fa-plus  fm-xl"></i>
                            </a>
                        </p>

                        <div class="col_1of2 quantity-text">
                            <p>
                                <span class="current_quantity" id="Qu{{product.pk}}">{{product.Quantity}}</span>
                            </p>
                        </div>

                        <p>
                            <a href="" class="btn-quantity minus"
                            hx-get="{% url 'quantity_update' 'minus' product.pk  %}"
                            hx-swap="innerHTML"
                            hx-target='.cn'>
                            
                                <i class="fas fa-minus fm-xl"></i>
                            </a>
                        </p>

                        <input type="hidden" class="quantity_field" name="quantity" data-price="15.50" value="1" />
                    </div>
                </div>

            </li>
            {% endfor %}
            
        </ul>
        
        <div class="grid_12 summary" id="last">
            <a href="#first" style="float: right; "><i
                    class="fa-solid fa-angle-up fa-bounce fa-flip-horizontal fa-2xl"></i></a>
            <div class="inner_container">
                <div class="summary-content">
                    <div class="col_1of2 meta-data">
                        <div class="sub-total">
                            {% if cart_no == 0 %}
                            <h3>Your Cart is Empty. Please Add something !!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                            {% else %}
                            <h3>Total: <strong id="ppp" style="font-size:50px">&#8377;{{Price}}/-</strong></h3><span class="amount"></span>
                            
                        </div>

                    </div>                        
                </div>
                <div class="btn-summary">

                    <a href="{% url 'Checkout' %}" class="btn-checkout">Checkout</a>

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock main-content %} 