{% extends 'Accounts/base.html' %} 
{% load static %} 
{% block title %}Profile{% endblock title %} 

{% block style_container %} 
<style>
    .header {
        text-align: center;
        padding: 20px 0;
    }

    .Form_Container {
        margin-top: 20px;
        padding: 20px;
        max-width: 600px;
        /* Set maximum width */
        margin: 0 auto;
        /* Center the form */
    }

    .footer {
        text-align: center;
        padding: 20px 0;
    }


    
</style>
{% endblock style_container %}

{% block main-content %}

<div class="container">
    <div class="container my-4">
        <div class="row">
         <h3>Welcome {{user.name}}</h3>
         <div class="col-sm-3 border-end">
          <ul class="list-unstyled">
           <li class="d-grid"><a href="{% url 'Profile' %}" class="btn btn-primary">Profile</a></li>
           <li class="d-grid"><a href="{% url 'Address' %}" class="btn">Address</a></li>
          </ul>
         </div>
    <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded Form_Container">
        <h3 style="text-align: center;color: rgb(19, 18, 18);">Profile</h3>
        <form method="post" action="{% url 'Profile' %}" class="row g-3" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="col-md-12">
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label> 
                </div>
                <p class="error">{{ field.errors|striptags }}</p>
            </div>

                    
        {% endfor %}

        {% if form.non_field_errors %} 
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %} {% endif %}
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>

        
        </form>
    </div>


{% comment %} ddj {% endcomment %}


</div><br>

{% endblock main-content %} 